
.letter, #lista, h4{
  font-family: 'Lobster', cursive !important;

  
}

.btn{
  width: 300px !important
  ;
}

.image{
  width: 300px;
}

.previous{
  position: absolute;
  left: 128px !important;
  top: 48px;
  width: 100px !important;
}